/* autoprefixer grid: autoplace */

// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
      content: ' ';
      display: table; 
    }
    &:after {
      clear: both;
    }
}

// Border radius variants
@mixin border-radius($radius) {
    border-radius: $radius;
}

// Box sizing
@mixin box-sizing($boxmodel) {
    box-sizing: $boxmodel;
}

// Transitions
@mixin transition($property) {  
  transition: $property ease-in-out 0.2s;
}

@mixin text-reset {
  word-break: break-word;
  margin: 0;
}

// functions

// commons
@mixin flex-align($align-items, $justify-content, $gap: 0.8rem) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin flex-direction($flex-direction, $gap: 0.8rem) {
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;
}

@mixin container {
  max-width: var(--main-container-max);
  margin: 0 auto;
  width: 100%;
  padding: 1.6rem;
}

@mixin slide($from, $position, $fromVal: -100%, $toVal: 0) {
  position: $position;
  @include transition(1s);
  #{$from}: $fromVal;

  &.show {
    #{$from}: $toVal;
  }
}


@mixin buttonsColor($color1, $color2, $color3, $textColor: 'white') {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color1;
  color: $textColor;
  padding: 0.9rem 3rem;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: var(--border-radius);

  > svg {
    flex: none;
    margin-left: 0.8rem;
  }

  &:hover {
    background-color: $color2;
    color: $textColor;
  }

  &:active {
    background-color: $color3;
    color: $textColor;
  }
}